$gray-1: #f9f9f9 !default;
$gray-2: #e5e5e5 !default;
$gray-3: #ccc !default;
$gray-4: #767676 !default;
$gray-5: #515151 !default;
$gray-6: #313131 !default;

// 230203 change to Tableau new colors, except navy.
$red: #e15759 !default;
$orange: #f28e2b !default;
$yellow: #edc948 !default;
$green: #59a14f !default;
$cyan: #76b7b2 !default; //teal
$blue: #4e79a7 !default;
$navy: #003860 !default;
$brown: #9c755f !default;
// 220929 colors added
$purple: #b07aa1 !default;;
$pink: #ff9da7 !default;;

// $red: #ac4142 !default;
// $orange: #d28445 !default;
// $yellow: #f4bf75 !default;
// $green: #90a959 !default;
// $cyan: #17becf !default;
// $blue: #268bd2 !default;
// $navy: #003860 !default;
// $brown: #8f5536 !default;
// // 220929 colors added
// $purple: #9467bd !default;;
// $pink: lightcoral !default;;


$root-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif !default;
$root-font-size: 1rem !default;
$root-line-height: 1.5 !default;

$body-color: $gray-5 !default;
$body-muted: $gray-4 !default;
$body-bg: #fff !default;
$link-color: $blue !default; 
$heading-color: $gray-6 !default;

$border-color: $gray-2 !default;
$border-radius: 300px !default;
$padding-v: 1em !default;
$padding-h: 1.5em !default;
$heading-spacing: 0.5rem !default;
$section-spacing: 2rem !default;
$sidebar-width: 18rem !default;

$large-breakpoint: 49rem !default;
$large-font-size: 1.25rem !default;

$box-shadow-size: 1px !default;
$box-shadow-opacity: 0.16 !default;
$default-box-shadow: $box-shadow-size $box-shadow-size $box-shadow-size rgba(0, 0, 0, $box-shadow-opacity);

$code-font-family: Menlo, Monaco, 'Courier New', monospace !default;
$code-color: $red !default;
// $code-color: #bf616a !default;

// Hyde theming
$sidebar-bg-color: $navy;
$sidebar-fg-color: #fff !default;
$sidebar-sticky: true !default;
$layout-reverse: false !default;

$sidebar-title-color: $sidebar-fg-color !default;
$sidebar-link-color: $sidebar-fg-color !default;
$sidebar-text-color: rgba($sidebar-fg-color, 0.75) !default;
$sidebar-icon-color: rgba($sidebar-fg-color, 0.85) !default;
