<nav id="sidebar-icon-links">
   
  <a id="cv"
      class="icon" title="CV" aria-label="CV"
      href="https://durianfarmer.github.io/cv/KyuwookChai_CV.pdf">
    {% include svg/document-svgrepo-com.svg %}
  </a>
  
  <a id="github-link-default"
      class="icon" title="Github Project" aria-label="Github Project"
      href="https://github.com/DurianFarmer">
    {% include svg/iconmonstr-github-1.svg %}
  </a>

  <a id="google-scholar-link"
      class="icon" title="Google Scholar" aria-label="Google Sholar"
      href="https://scholar.google.com/citations?user=gmWpQq8AAAAJ&hl">
    {% include svg/icons8-google-scholar.svg %}
  </a>

  <!-- <a id="cv-link"
     class="icon" title="CV" aria-label="CV"
     href="../cv/KyuwookChai_Resume.pdf">
    {% include svg/iconmonstr-cv-3.svg %}
  </a> -->

  <!-- <a id="email-link"
    class="icon" title="email" aria-label="email"
    href="mailto:kyuwookchai@gmail.com">
    {% include svg/email.svg %}
  </a> -->

  <!-- <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">
    {% include svg/feed.svg %}
  </a> -->

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  <!-- {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ tags_page.url | relative_url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ search_page.url | relative_url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %} -->

  {% include custom-icon-links.html %}
</nav>
