<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <!-- 220928 수식 집어넣기 -->
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    <main class="container">      
      {{ content }}
    </main>

    {% include custom-foot.html %}
  </body>
</html>
