---
layout: default
---

{% if page.use_math %}
<script>
  MathJax = {
    tex: {
      inlineMath: [ ['$', '$'], ['\\(', '\\)'] ]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async 
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
{% endif %}

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>

<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {{ content }}
    {% include post-tags.html post=page %}
  </div>

  <!-- {% include comments.html %} -->
  {% include related_posts.html %}
</div>
